body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header, footer {
  background-color: #004080;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}
